ul#menu{
    list-style:none; 
    clear:both; 
    min-width: 716px;
    background-repeat: no-repeat;
    background-position: top;
}

#menu li{ 
    overflow: hidden;
    text-indent:-9999px; float:left;
    margin: 10px 40px;
}

#menu li a{
    background-image: url(../img/menu.png); 
    background-repeat: no-repeat;
    width: 100%; height: 100%; display: block;
}

#menu li.intro { width: 65px; height: 20px; }
#menu li.intro a { background-position: 0px -2px; }
#menu li.intro a.selected { background-position: 0px -25px; }

#menu li.training { width: 60px; height: 20px; }
#menu li.training a { background-position: -130px -2px; }
#menu li.training a.selected { background-position: -130px -25px; }

#menu li.tour { width: 52px; height: 20px; }
#menu li.tour a { background-position: -260px -2px; }
#menu li.tour a.selected { background-position: -260px -25px; }

#menu li.planning { width: 61px; height: 20px; }
#menu li.planning a { background-position: -390px -2px; }
#menu li.planning a.selected { background-position: -390px -25px; }

#menu li.board { width: 78px; height: 20px; }
#menu li.board a { background-position: -520px -2px; }
#menu li.board a.selected { background-position: -520px -25px; }

#navigator { display: none; position: relative; }

#navigator ul { float: left; margin-top:30px;}
#navigator ul:nth-child(1) { margin-left: 24px; }
#navigator ul:nth-child(2) { margin-left: 100px; }
#navigator ul:nth-child(3) { margin-left: 92px; }
#navigator ul:nth-child(4) { margin-left: 66px; }
#navigator ul:nth-child(5) { margin-left: 78px; }
#navigator li { margin-bottom: 5px;  }
#navigator a { color: #484848 ; }
#navigator {
    background-image: url(../img/menu_nav_background.png); 
    background-repeat: no-repeat;
    width: 678px; height: 128px; 
}

.submenu {
    position: absolute;
    left:0px; 
    top:150px;
    width:100%;
    height: 150px;
    /*background:#000 ; */
    z-index:3000 ; 
}

